body{
  font-family: 'Poppins', sans-serif;
}
html, body {
overflow-x: hidden;
}
img{
  width: 17%;
}
a{
  text-decoration: none;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  font-family: var(--poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3891a3;
  font-size: 1.5rem; 
  font-weight: 10;
  margin-top: -2.5rem;
}
.start{
  display: block;
  margin: 0 auto;
  text-align: center;
}
button {
  font-family: var(--poppins);
  padding: 0.6rem 21rem;
  font-size: 1.8rem;
  margin-top: 0.9rem;
  border: none;
  border-radius: 0.6rem;
  background-color: #3891a3;
  color: white;
}
button:hover{
  cursor: pointer;
  background-color: var(--buttonhover-color);
}

:root{
  --poppins:'Poppins', sans-serif;
  --primary-color: #3891a3;
  --buttonhover-color: #338696;
}